

body{
    background: url(../technology/background-technology-desktop.jpg) repeat scroll 0 0 #121210;
    background-position: left;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}
#tech__nav::after{
    transform: scale(1);
    transform-origin: right;
}
h3{
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 1.1rem;
    text-transform: uppercase;
    color: var(--text-color-blur);
}

.technology__section{
    display: block;
    margin-left: 8rem;
    margin-top: -1.5rem;
}
.technology__heading{
    margin: 3rem 0;
}

.technology__container{
    margin-left: 6rem;  
}
.tech__buttons{
    width: fit-content;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-left: auto;
}
.technology__nav{
    width: fit-content;
    position: fixed;
}
.technology__nav .tech__buttons .tech{
    position: relative;
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 3rem;
    background: transparent;
    border: 1px solid var(--pick-des-color);
    align-items: center;
    justify-content: center;
    color: var(--text-color-pure); 
    padding: 2px;  
    cursor: pointer;
    transition: .5s;
}
.technology__nav .tech__buttons .tech.Active, .technology__nav .tech__buttons .tech:hover{
    font-weight: bold;
    color: black;
    background: var(--text-color-pure);
}
.Active{font-weight: bold;
    color: black;
    background: var(--text-color-pure);
}
.technology__details{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 7rem;
    margin-bottom: 2rem;   
}
.tech__description{
    width: 100%;
}
.info__wrapper{
    display: block;
    margin-top: 6rem;
}
.vehicle__image{
    height: 100%;
}
.vehicle__image img{
    
    height: 25rem;
    right: 0;
    top: 0;
    width: 27rem;
}
.tech__teminology .teminology__tag{
    margin-top: 0;
    margin-bottom: 1rem;
}
.tech__teminology .teminology__tag h2{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1rem;
    text-transform: uppercase;
    color: var(--text-color-blur);
}
.launch__vehicles .vehicle{
    margin-bottom: 1.8rem;
    width: 100%;
}
.launch__vehicles .vehicle h2{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--text-color-pure);
}
.vehicle__information .vehicle__about{
    width: 100%;
}
.vehicle__information .vehicle__about h4{
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 100;
    color: var(--text-color-blur);
}
.technology__details[data-content]{
    display: none;
}
.tech__Active[data-content]{
    display: grid;
}
@media (max-width:1088px) {
    .vehicle__information .vehicle__about h4{
        width: 80%;
        margin: auto;
    }
    .tech__teminology .teminology__tag{
        margin-top: -4rem;
        margin-bottom: 1rem;
    }
    .technology__section{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: -1.5rem;
    }
    .technology__details{
        display: flex;
        flex-direction: column-reverse;
        grid-gap: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 3rem;   
    }
    .vehicle__image img{
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
    }
    .vehicle__image{
        height: 50%;
        width: 100%;
    }
    .technology__nav .tech__buttons .tech{
        position: none;
        display: inline-flex;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-bottom: 3rem;
        background: transparent;
        border: 1px solid var(--pick-des-color);
        align-items: center;
        justify-content: center;
        color: var(--text-color-pure); 
        padding: 2px;  
        cursor: pointer;
        transition: .5s;
    }
    .technology__nav{
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .tech__buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 3rem;
        margin-bottom: .7rem;
        margin-top: 1rem;
    }
    .technology__heading{
        margin: 1rem 3rem;
    }
    .technology__container{
        margin-left: 0;  
    }
    body{
        background: url(../technology/background-technology-tablet.jpg) repeat scroll 0 0 #121210;
        background-position: left;
        background-size: cover;
        -webkit-backface-visibility: hidden;
    }
}
@media (max-width:425px) {
    .tech__teminology .teminology__tag{
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
    .technology__nav{
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 14.9rem;
    }
    .technology__details{
        margin-bottom: 1.5rem;   
    }
}